*.log.*

/martensigwart

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings
*bin
*.springBeans
*.checkstyle
.checkstyleCheckerConfig
*.local.properties
*.log

#=================
#intellij-project
#=================
*.iml
*.ipr
*.iws
*classes
*.idea
release.properties

#=================
#netbeans-project
#=================
core/workflow/data
nb-configuration.xml
nbactions.xml

#=================
#maven-files
#=================
*target


#================
#Mac OS X hidden files/folders
#================
.DS_Store

#================
#WinXP hidden files/folders
#================
*Thumbs.db

#================
#Documentation artifacts
#================
*.dia~

#================
#Assembly artifacts
#================
*.zip


#================
#pver ignores
#================
pconf.pyc



#================
#vi tmp files
#================
*.swp
*~
